<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Cocktail API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div id="title">            
        <h1>Crafting Your Perfect Cocktail</h1>
    </div>
    
    <div class="grid-con" id="app">

        <div class="col-span-full">
            <p>Creating cocktails at home involves blending flavours and techniques. Start by gathering recipe ingredients and appropriate glassware. Follow the preparation instructions, measure each component, and pay attention to the mixing method, as it influences texture and temperature. Garnishing adds visual and flavour appeal, so choose wisely. Feel free to adjust ingredients and try new combinations. Enjoy your mixology journey!</p>
            <p>Clink on a cocktail to explore more information</p>
            <ul id="cocktail-list">
                <!-- <div v-if="isLoading">Loading cocktails...</div> -->
                
                <li v-for="cocktail in cocktailsData">
                    <h3><a href="#cocktail" @click="getCocktail(cocktail.name)">{{cocktail.name}}</a></h3>
                    <img v-bind:src="cocktail.strDrinkThumb" alt="Cocktail image" class="cocktail-thumbnail">

                </li>
                </li>
            </ul>
        </div>
        <div class="col-span-full" id="cocktailInfo">
            <div v-if="error">
                {{error}}
            </div>
            <div id="cocktail" v-if="!error">
                <p>Prep time: {{time}}</p>
                <p>Ingredients: {{ingredients}}</p>
                <p>Instructions: {{instructions}}</p>
                <p>Glass type: {{glassType}}</p>
            </div>
        </div>
    </div>

</body>
</html>