body {
	font-family: "Lato", sans-serif;
	padding: 20px;
}

#app {
	padding: 20px;
}

#cocktailInfo {
	margin-top: 40px;
	display: inline-flex;

	.cocktail-thumbnail {
		max-width: 300px;
		height: auto;
		border-radius: 5px;
  }
}

a {
	color:rgb(105, 37, 0);
	text-decoration: none;
}