#title {
    color: rgb(253, 253, 253);
    background-image: url(/frontend/images/Cocktail-Club.jpg);
    background-repeat: no-repeat;
    background-color: rgb(24, 13, 2);
    padding-top: 50px;

    text-align: center;
    font-size: 38px;
    padding-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

#cocktail-list {
    color: rgb(24, 13, 2);;
    position: relative;
    display: flex;
    list-style-type: none;
    padding: 20px;
    font-size: 18px;
    // margin-top: 40px;
}

#cocktail-list li {
    margin-bottom: 30px;
}